html, body, button, pre{
  margin: 0;
  padding: 0;
}

body{
  font-size: 14px;
  padding: 10px;
  overflow-x: hidden;
}

button{
  border: none;
  background-color: #57bc4c;
  padding: 5px;
  color: #fff;
  border-radius: 4px;
}

code{
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
  border-radius: 4px;
  margin-left: 6px;
}

.code{
  margin-top: 10px;
  word-break:break-all;
  overflow: scroll;
  background-color: black;
  color: #fff;
  padding: 5px;
}

.wrap{
  max-width: 980px;
  margin: 10px auto;
}

.container{
  padding: 10px;
  margin-bottom: 10px;
  border: dashed 1px #57bc4c;
  overflow: scroll;
}
